<html>
  <head>
    <title>Language Learning</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Language Learning</h1>
    <h2>Flashcards Demo</h2>
    <div id="steak">
      {% for item in streak %}
      <span>{{item}}</span>
      {% endfor %}
    </div>
    <div class="questionDisplayArea">
      <p id="question">{{ question.text }}</p>
    </div>
    <div id="answerDisplayArea" class="answerDisplayArea">
      <p id="answer_hint" style="display:none">{{ answer.hints[0].text }}</p>
      <p id="answer" style="display:none">{{ answer.text }}</p>
    </div>
    <button id="answerRevealBtn">
      Reveal
    </button>
    <button id="hintRevealBtn">
      Show Hint
    </button>
    <div id="answerFeedbackBtns" style="display:none">
      <button id="answerCorrectBtn">
        Yes
      </button>
      <button id="answerWrongBtn">
        No
      </button>
    </div>
    <button id="nextQuestionBtn" style="display:none">
      Next Question
    </button>
  <script>
  $(document).ready(function(){
    $("#answerRevealBtn").click(function(){
      $("#answer").show();
      $("#answer_hint").hide();
      $("#hintRevealBtn").hide();
      $("#answerFeedbackBtns").show();
      $(this).hide();
    });
    $("#hintRevealBtn").click(function(){
      $("#answer_hint").show();
      $(this).hide();
    });
    $("#answerCorrectBtn").click(function(){
      alert("answer correct API call goes here");
      $("#nextQuestionBtn").show();
      $("#answerFeedbackBtns").hide();
    });
    $("#answerWrongBtn").click(function(){
      alert("answer wrong API call goes here");
      $("#nextQuestionBtn").show();
      $("#answerFeedbackBtns").hide();
    });
    $("#nextQuestionBtn").click(function(){
      alert("next question API call goes here");
      location.reload();
    });
  });
  </script>
  </body>
</html>
